{% extends 'base.html' %}
{% block title %}About Us{% endblock %}

{% block content %}
<section class="hero-section">
  <h1 style="padding-top: 40px; padding-bottom:15px;">About</h1>
  
  <div style="max-width: 1000px; margin-left: auto; margin-right: auto;">
    <p>Welcome to our Education Management System!</p>
  
    <p style="font-size: 22px; text-align: left;">
      Our platform is designed to facilitate efficient communication and data management among students, teachers, and administrators. With distinct login portals for students, teachers, and administrators, we aim to streamline various processes and enhance the overall educational experience.
    </p>
    
    <p style="font-size: 22px; text-align: left;">
      <strong>Student Login:</strong><br>
      As a student, you can access your personal dashboard to provide feedback on your learning experience. Your valuable input will help us improve the quality of teaching and address any concerns you may have. We believe that your feedback is crucial in creating a conducive learning environment and ensuring your academic success.
    </p>
    
    <p style="font-size: 22px; text-align: left;">
      <strong>Teacher Login:</strong><br>
      Teachers play a vital role in shaping students' lives, and our platform empowers them with convenient tools for daily attendance management and student performance updates. By logging in as a teacher, you can easily update attendance records, enter grades, and track the progress of individual students. This real-time data allows for timely interventions and personalized support to maximize student achievements.
    </p>
    
    <p style="font-size: 22px; text-align: left;">
      <strong>Admin Login:</strong><br>
      Administrators have comprehensive control over the system, ensuring efficient management of all educational data. With the admin login, you can access a wide range of functionalities, including user management, data analysis, generating reports, and handling various administrative tasks. Our goal is to provide administrators with a centralized platform to oversee and optimize the entire educational process.
    </p>
    
    <p style="font-size: 22px; text-align: left;">
      At our Education Management System, we prioritize effective communication, data accuracy, and user-friendly interfaces. By integrating student feedback, teacher attendance management, and administrative functionalities, we aim to create a collaborative and transparent educational ecosystem.
    </p>
  </div>
</section>

{% endblock %}

